# LFS configuration
*.bmp filter=lfs merge=lfs -text
*.BMP filter=lfs merge=lfs -text
*.png filter=lfs merge=lfs -text
*.PNG filter=lfs merge=lfs -text
*.pdf filter=lfs merge=lfs -text
*.PDF filter=lfs merge=lfs -text
*.stl filter=lfs merge=lfs -text
*.STL filter=lfs merge=lfs -text
*.jpg filter=lfs merge=lfs -text
*.JPG filter=lfs merge=lfs -text
*.zip filter=lfs merge=lfs -text
*.ZIP filter=lfs merge=lfs -text
*.tar.gz filter=lfs merge=lfs -text
*.TAR.GZ filter=lfs merge=lfs -text
*.ompldb filter=lfs merge=lfs -text
*.OMPLDB filter=lfs merge=lfs -text
*.npy filter=lfs merge=lfs -text
*.NPY filter=lfs merge=lfs -text
*.a filter=lfs merge=lfs -text
*.pcd filter=lfs merge=lfs -text
*.PCD filter=lfs merge=lfs -text
*.ply filter=lfs merge=lfs -text
*.PLY filter=lfs merge=lfs -text
*.svg filter=lfs merge=lfs -text
*.SVG filter=lfs merge=lfs -text
*.dae filter=lfs merge=lfs -text
*.DAE filter=lfs merge=lfs -text
*.blend filter=lfs merge=lfs -text
*.BLEND filter=lfs merge=lfs -text
*.gif filter=lfs merge=lfs -text
*.GIF filter=lfs merge=lfs -text
.dae filter=lfs diff=lfs merge=lfs -text
